*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
body{
    overflow-x: hidden;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
#header{
    width: 100%;
    position: absolute;
    z-index: 99;
    background-color: #b4bcbe96 ;
}
.logo{
    height: 120px;
    width: 120px;
}
.top-right {
    height: 120px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    right: -15px;
}

.top-right i{
    position: relative;
    padding: 0 10px;
    font-size: 30px;
    bottom: 5px;
}
.top-right h5{
    font-size: 16px;
}
.nav-menu{
    background-color: #198754;
}
.nav-menu ul li a{
    color: #fafafa;
}
.nav-menu .dropdown-menu a{
    color: #198754;
}
#slider{
    height: 100vh;
    width: 100%;
    position: relative;
    top: 0;
}
.doctor .m-feture{
    display: flex;
    position: relative;
    top: -80px;
    z-index: 99;
}
.doctor .main-feture{
    width: 25%;
    background-image: url(../img/pattern-1.png);
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.637);
    text-align: center;
    padding: 40px 0 50px 0;
    box-shadow: 0 5px 20px rgba(100, 46, 46, 0.1);
    transition: all 0.5s;
}
.doctor .main-feture i{
    font-size: 30px;
    color: #198754;
}
.doctor .main-feture h5{
    font-size: 15px;
    color: #198754;
    line-height: 30px;
}
.doctor .main-feture:hover{
    transform: translateY(-30px);
}

.doctor{
    background-color: #f3f3f5;
}
.team h3{
    font-size: 30px;
    text-align: center;
    color: #198754;
    padding-top: 40px;
}
.team .commi{
    padding-top: 0 !important;
}
.team p{
    font-size: 50px;
    text-align: center;
    color: #198754;
    margin-top: -50px;
}
.doctor .card-inner{
    background-color: white;
    text-align: center;
    border-radius: 5px;
}
.doctor .item{
    height: 200px;
    width: 100%;
    overflow: hidden;
}
.doctor .item img{
    height: 200px;
    padding: 0 30px;
    object-fit: cover;
    object-position: 10% 1%;
    transition: all linear 0.2s;
}
.doctor .item img:hover{
    transform: scale(1.1);
}
.doctor .card-body h6{
    font-size: 14px;
    color: #198754;
    padding-top: 15px;
}
.doctor .card-body .card-text{
    font-size: 12px;
    font-weight: 600;
    margin: 0;
    line-height: 20px;
}
.doctor .card-body .depertment{
    text-align: center;
    font-size: 12px;
    display: block;
}
.doctor .card-body .profile-btn{
    padding: 20px 30px;
    display: flex;
    justify-content: space-around;
}
.doctor .card-body .doctor-btn{
    height: auto;
    width: 100px;
    font-size: 12px;
    padding: 5px;
}
.owl-nav{
    display: flex;
    justify-content: end;
    padding-bottom: 40px;
}
.owl-nav .owl-prev,.owl-next{
    height: 30px;
    width: 30px;
    font-size: 40px !important;
    line-height: 30px !important;
    background-color: #198754 !important;
    color: white !important;
    transition: all linear 0.2s;
}
.owl-nav .owl-prev:hover{
    background-color: #157347 !important;
}
.owl-nav .owl-next:hover{
    background-color: #157347 !important;
}
.owl-nav .owl-prev span{
    position: relative;
    top: -2px;
}
.owl-nav .owl-next span{
    position: relative;
    top: -2px;
}
.owl-dots{
    display: none !important;
}
.department{
    background-color: #ffffff;
    text-align: center;
}
.department .team h3{
    font-size: 30px;
    text-align: center;
    color: #198754;
    padding-top: 40px;
}
.department .team p{
    font-size: 50px;
    text-align: center;
    color: #198754;
    margin-top: -50px;
}
.department .item{
    background-color: #f3f3f5;
    padding-bottom: 40px;
}
.department .dep-inner{
    height: 80px;
    background-color: #198754;
    transition: all linear 0.2s;
}
.department .item .dep-inner h5{
    font-size: 16px;
    color: white;
    padding: 20px 10px;
}
.department .item p{
    font-size: 12px;
    padding: 10px;
    line-height: 25px;
}
.department .item a{
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 20px;
    color: black;
    font-weight: 600;
    border-radius: 50px;
    border: 1px solid #19875442;
    transition: all linear 0.2s;
}
.department .item:hover .dep-inner,
.department .item:hover a{
    background-color: #157347;
    color: #ffffff;
}

.keep{
    background-image: url(../img/keep.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    padding: 40px 0;
}
.keep .text-item{
    position: relative;
    left: 200px;
}
.keep .text-item h3{
    font-size: 30px;
    color: #198754;
}
.keep .text-item p{
    font-size: 50px;
    color: #198754;
    margin-top: -50px;
}
.keep .text-item h6{
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    padding-bottom: 10px;
}
.keep .text-item a{
    padding: 5px 50px;
}
.Services{
    background-color: #ffffff;
}
.Services .item{
    background-color: #f3f3f5;
    text-align: center;
}
.Services .item i{
    font-size: 30px;
    color: #198754;
    padding: 30px;
    transition: all linear 0.2s;
}
.Services .item h5{
    font-size: 16px;
    line-height: 50px;
    background-color: #198754;
    color: white;
    transition: all linear 0.2s;
}
.Services .item p{
    font-size: 14px;
    line-height: 25px;
    color: black;
    padding: 20px 10px;
    transition: all linear 0.2s;
}
.Services .item:hover i{
    color: #157347;
}
.Services .item:hover h5{
    background-color: #157347;
}

.news{
    background-color: #f3f3f5;
    text-align: center;
    padding-bottom: 40px;
}
.news-block .news-inner{
    background-color: #ffffff;
    border-radius: 10px;
    transition: all linear 0.5s;
}
.news-block .news-inner:hover{
    transform: translateY(-20px);
}
.news .news-img{
    position: relative;
}
.news .news-img img{    
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}       
.news .news-img .date{
    padding: 5px 20px;
    background-color: #198754;
    border-radius: 10px 0 0 0;
    font-size: 14px;
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
}       
.news .news-text{
    height: 220px;
    padding: 20px 10px;
}
.text-inner{
    height: 70px;
}       
.news .news-text a{
    font-size: 14px;
    font-weight: 600;
    color: #198754;
}       
.news .news-text p{
    font-size: 14px;
    padding-top: 20px;
}  
.image-content{
    background-color: #198754;
    border-radius: 25px 25px 0 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px;
}

.testimoni .testimoni-body{
    height: 410px;
    background-color: #f3f3f5;
    border-radius: 25px;
    margin-bottom: 40px;
}
.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    right: 0;
    bottom: -40px;
    background-color: #198754;
    border: 0 !important;
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #f3f3f5;
}
.testimoni .testimoni-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #f3f3f5;
    padding: 3px;
}
.testimoni .testi-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #198754;
}
.text-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    text-align: center;
}
.text-content .content-inner{
    height: 140px;
    overflow: hidden;
    margin-bottom: 10px;
}
.text-content .content-inner h5{
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}
.text-content .content-inner p{
    font-size: 14px;
}
.text-content a{
    padding: 5px 20px;
    background-color: none;
    margin-bottom: 20px;
}
.testimoni .owl-nav{
    display: none;
}
.client{
    background-color: #f3f3f5;
}
.client .slide-item{
    position: relative;
    overflow: hidden;
    text-align: center;
}
.client .slide-item img{
    display: inline-block;
    max-width: 100%;
    width: auto;
    height: auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.client .slide-item a{
    position: relative;
}
iframe {
    transition: opacity 500ms ease-in-out;
    transition-delay: 250ms;
    width: 100%;
}
footer .inner-content{
    padding: 40px 0;
    display: flex;
    align-items: start;
    justify-content: center;
    border-bottom: 2px solid #000;
}
footer .f-logo,
footer .f-content{
    padding: 0 10px;
}
footer .f-logo img{
    width: 250px;
}
footer .f-logo p,
footer .f-content ul,
footer .f-content li,
footer .f-content a{
    font-size: 14px;
    color: black;
    padding: 0;
}
footer .f-content li,
footer .f-content a{
    line-height: 30px;
}
footer .f-content a:hover{
    color: #157347;
}
footer .f-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .f-icon li{
    height: 40px;
    width: 40px;
    background-color: #198754;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .f-icon li a{
    font-size: 20px;    
    transition: all linear 0.2s;
}
footer .f-icon li a:hover{ 
    color: #fff;  
}

footer .f-bottom{
    text-align: center;
    font-size: 14px;
    color: #000;
    line-height: 40px;
}